<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>


<table class="table-bordered table">
  <thead>
    <tr>
      <th style="width: 10%;">Name</th>
      <th style="width: 20%;">Description</th>
      <th style="width: 20%;">Image url</th>
      <th style="width: 10%;">Color</th>
      <th style="width: 10%;">Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><img class="listed-product" src="<%= product.image_url %>" /></td>
        <td><%= product.colour %><td>
        <td><%= product.price %><td>


        <td style="width: 10%;">
          <%= link_to product, class: 'btn btn-info' do %>
            <i class="white"></i>
            show product

            <% end %>
        </td>
        <td style="width: 10%;">
          <%= link_to edit_product_path(product), class: 'btn btn-warning' do %>
            <i class="white"></i>
            edit product

            <% end %>
        </td>
        <td style="width: 10%;">
          <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>

            <i class="white"></i>
            delete product

            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="new-product">
  <%= link_to new_product_path, class: 'btn btn-success' do %>

    <i class="white"></i>
    add new product
    <% end %>

</div>

<div class="container-fluid">
  <div class="row">
      <%= render @products %>
      <div class="col-sm-2 col-md-3">
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <h1><%= product.name %></h1>
        <p><%= product.description %></p>
        <p><%= product.colour %></p>
        <strong><%= product.price %></strong>
      </div><!--end col-->
    <% end %>
  </div><!--end row-->
</div><!--end container-->




