<div class="product-created">	
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @product.name %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @product.description %>
	</p>

	<p>
	  <strong>Image url:</strong>
	  <%= @product.image_url %>
	</p>

	<p>
		<strong>Color:</strong>
		<%= @product.colour %>
	</p>

	<p>
		<strong>Price:</strong>
		<%= @product.price %>
	</p>

	<%= link_to edit_product_path(@product), class: 'btn btn-warning btn-mini' do %> 
		<i class="white"></i>
		Edit
		<% end %>

	<%= link_to :back, class: 'btn btn-warning btn-mini' do %> 
		<i class="white"></i>
		Back
		<% end %> 
<div>


	  