<div class="product-created row">	
	<div class="col-md-4">
		<%= link_to edit_product_path(@product), class: 'btn btn-warning btn-mini' do %> 
			<i class="white"></i>
			Edit
			<% end %>

		<%= link_to :back, class: 'btn btn-warning btn-mini' do %> 
			<i class="white"></i>
			Back
			<% end %> 
		<p>
		  <img class="img-responsive thumbnail" src="<%= @product.image_url %>"/>
		</p>
	</div><!--end col-md-4-->

	<div class="col-md-4">
		<p id="notice"><%= notice %></p>

		<h2>
		  <%= @product.name %>
		</h2>

		<p>
		  <%= @product.description %>
		</p>

		<p>
			<strong>Color:</strong>
			<%= @product.colour %>
		</p>

		<strong>
			<%= @product.price %>
			<span class="glyphicon glyphicon-euro"></span>
		</strong>

		<p>
			Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div>
		</p>

		<%= form_tag "/payments/create" do %>
			<%= render partial: "shared/stripe_checkout_button" %>
		<% end %>

		<%= render 'new_comment' %>

		<%= render 'comments' %>

		</div><!--end col-md-4-->


	</div> <!--end row-->
</div>


	  